* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.imagen-youtube img {
    width: 60px;
    height: 40px;
}

.buscador img {
    width: 30px;
    height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    font-size: 19px;
}

.explorar {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.explorar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.imagen-youtube {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
}

.rojo {
    color: red;
}

.buscador {
    display: flex;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.buscador input {
    padding: 10px;
    border-radius: 10px;
    border: solid 2px rgb(129, 128, 128);
}

.lagos-texto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 19px;
    margin-top: 15px;
}

.lagos-texto p {
    color: rgb(92, 92, 92);
}

.videou video {
    width: 800px;
    border: solid 2px rgb(63, 62, 62);
}

.añadir_cola {
    display: flex;
    gap: 55px;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.likes {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.dislikes {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.compartir {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.Añadir-cola {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.Añadir-cola img {
    width: 20px;
    height: auto;
}

.añadir_cola img {
    height: 30px;
    width: 30px;
}

.Video-Stream-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.stream {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.stream img {
    width: 70;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.videostream-texto h3,
.videostream-texto p {
    margin: 0;
    font-size: 20px;
}

.videostream-texto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.videostream-texto p {
    color: rgb(48, 48, 48);
}

.suscribirse-boton button {
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    height: 45px;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 19px;
}

.recorrido {
    text-decoration: underline;

}

.info-video {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    margin-top: 30px;
    color: rgb(54, 53, 53);
}

.azulito {
    color: #0556ac;
    font-weight: bold;
}


.cajas img {
    width: 200px;
    border: solid 2px rgb(63, 62, 62);
}

.recomendados img {
    width: 200px;
}

.imagen-mas img {
    width: 50px;
}

.siguiente-cola {
    margin-left: 30px;
}

.siguiente-limpiar {
    display: flex;
    gap: 180px;
}

.Limpiar-cola {
    background-color: #e6e6e6;
    border: none;
    border: solid 1px rgb(194, 191, 191);
    height: 35px;
    width: 90px;
    border-radius: 8px;
    font-weight: bold;
}

.cajas {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.cajita1 {
    display: flex;
}

.cajita1 p {
    color: rgb(92, 92, 92);
}

.encerrar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}

.equis {
    display: flex;
    gap: 100px;
}

.x {
    font-size: 25px
}


.cajita2 {
    display: flex;
}

.cajita2 p {
    color: rgb(92, 92, 92);
}

.encerrar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}

.equis {
    display: flex;
    gap: 100px;
}


.cajita3 {
    display: flex;
}

.cajita3 p {
    color: rgb(92, 92, 92);
}

.encerrar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}

.equis {
    display: flex;
    gap: 100px;
}


.cajitas1 {
    display: flex;
}

.cajitas2 {
    display: flex;
}

.cajitas3 {
    display: flex;
}

.recomendados {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Más_videos img {
    width: 250px;
    height: 130px;
    border: solid 2px rgb(63, 62, 62);
}


.imagen-mas img{
    border: none;
}

.Más_videos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    width: 100%;
}


.cajas-mas-videos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.cajita-pro1{
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
}
.cajita-pro2{
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
}
.cajita-pro3{
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
}
.cajita-pro4{
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
}